h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
}

input {
  display: block;
  border: 1px solid black;
  padding: 5px 10px;
  width: 100%;
}
button {
  display: block;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 10px auto;
  border-radius: 20px;
}

.ly_container {
  width: 400px;
}

.bl_newsList {
  border: 1px solid lightpink;
}
.bl_newsList_news a {
  display: block;
  transition: 0.15s;
  border: 1px solid black;
}
.bl_newsList_news span {
  display: block;
}
.bl_newsList_news .title {
  color: blue;
}
.bl_newsList_news .summary {
  color: gray;
}
.bl_newsList_news a:hover {
  background-color: lightblue;
}

/* loading */
.bl_loading {
  position: absolute;
  background-color: rgba(212, 212, 212, 0.3);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}
.bl_loading svg {
  width: 30px;
  height: 30px;
}
.bl_loading circle {
  opacity: 0.25;
}
.bl_loading path {
  opacity: 0.75;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
