h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

input {
  display: block;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  font-size: 1.1em;
}
button {
  display: block;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 10px auto;
  border-radius: 20px;
  font-size: 1.1em;
  transition: 0.15s;
}
button:hover {
  background: lightgray;
}
section {
  margin-top: 30px;
}

.ly_container {
  padding: 20px 10px;
  width: 400px;
}

/* ニュースリスト */
.bl_newsList {
  border: 1px solid lightgray;
}
/* ニュース */
.bl_newsList_news a {
  padding: 5px;
  display: block;
  transition: 0.15s;
  border: 1px solid black;
}
.bl_newsList_news span {
  display: block;
}
.bl_newsList_news .title {
  color: blue;
  font-size: 1.1em;
}
.bl_newsList_news .summary {
  color: gray;
}
.bl_newsList_news a:hover {
  background-color: lightblue;
}

/* ローディング */
.bl_loading {
  position: absolute;
  background-color: rgba(212, 212, 212, 0.3);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bl_loading svg {
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}
.bl_loading circle {
  opacity: 0.25;
}
.bl_loading path {
  opacity: 0.75;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
