h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

input {
  display: block;
  border: 1px solid lightgray;
  height: 40px;
  width: 100%;
  font-size: 1.1em;
  padding-right: 10px;
  padding-left: 10px;
}

section {
  margin-top: 30px;
}

.ly_container {
  padding: 20px 10px;
  width: 400px;
}

/* フォームのURL用のinputのwrapper */
.bl_newsUrlInputWrapper {
  display: flex;
  align-items: center;
}
.bl_newsUrlInputWrapper input {
  /* 削除ボタンの長さ分引く */
  width: calc(100% - 40px);
}

/* URL削除ボタン */
.bl_deleteInputValueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  /* inputと同じ高さにする */
  width: 40px;
  height: 40px;
}
.bl_deleteInputValueButton svg {
  width: 20px;
  height: 20px;
}

/* 汎用ボタン */
.bl_utilButton {
  display: block;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 20px;
  font-size: 1.1em;
  transition: 0.15s;
}
.bl_utilButton:hover {
  background: lightgray;
}

/* リロードボタン */
.bl_reloadButton {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}
.bl_reloadButton svg {
  color: black;
}

/* ニュースリスト */
.bl_newsList {
  border: 1px solid lightgray;
  max-height: 300px;
  overflow-y: scroll;
}
/* ニュース */
.bl_newsList_news a {
  padding: 5px;
  display: flex;
  width: 100%;
  align-items: center;
  transition: 0.15s;
  border: 1px solid lightgray;
}
.bl_newsList_news img {
  display: block;
  object-fit: cover;
  width: 30%;
  height: auto;
  margin-right: 5px;
}
.bl_newsList_news span {
  display: block;
}
.bl_newsList .newsInfo {
  width: 70%;
  padding-right: 5px;
  padding-left: 5px;
}
.bl_newsList_news .title {
  color: blue;
  font-size: 1.2em;
  font-weight: bold;
}
.bl_newsList_news .summary {
  font-size: 1.1em;
  color: gray;
}
/* 投稿者とシェアされた時間 */
.bl_newsList_news .newsSubInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.bl_newsList_news .contributorName {
  font-weight: bold;
}
.bl_newsList_news a:hover {
  background-color: lightblue;
}

/* ローディング */
.bl_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bl_loading svg {
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}
.bl_loading circle {
  opacity: 0.25;
}
.bl_loading path {
  opacity: 0.75;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
